<nav class="primaryNavigation" role="navigation">
	<div class="Bignav">
		<nav>
			<ul>
				<a href="/"><li>Home</li></a>
                <a href="/book"><li>Booking</li></a>
                <a href="/Article"><li>Article</li></a>
				<a href="/About"><li>About</li></a>
				<br>
			</ul>
		</div>
		</nav>
	